<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col-md-3" *ngFor= 'let rep of repo' >
          <div class="card">
                <div class="card-body card-rep">
                    <h5 class="card-title">{{rep.name}}</h5>
                    <p class="card-text">{{rep.description}}</p>
                </div>
                <div class="card-footer d-flex p-3">
                    <p class="badge badge-primary">Watchers <span>{{rep.watchers}}</span></p>
                    <p class="badge badge-success">Forks<span>{{rep.forks}}</span></p>
                </div>   
           </div>
        </div>
    </div>
</div>
