/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(./assets/pexels-max-deroin-51415.jpg);
    height: 140vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
